/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

html {height:100%;} 

body {
	height:100%;
	font-family:'DIN Next W01 Light';
	font-size:100%;
} 

a, a:link {
	text-decoration:none;
	line-height:1em;
}

strong, b {
	font-family:'DIN Next W02 Medium';
}

em, i {
font-family:'DINNextW01-LightItalic';
}

em + strong, b + i {
	font-family:'DINNextW01-MediumItalic';
}

li {
	margin:0 0 1em 0;
	line-height:1.2 em;
}

br {
	padding:0;
	margin:0;
}

/*  WHOLEPAGE FORMATTING */

#page {
	background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) no-repeat 0 120px #9aabb4;
	min-height:100%;
	position:relative;
}



/*  HEADER< BRANDING AND MENUBAR */


#region-user-second {
	margin-top:0.5em;
}

#section-header {background:url(/sites/all/themes/ronald_cohen/images/headbg.png) repeat-x;} 

	img#logo {width:100%;max-width:100%;margin-left:-8.3333%;} 
	
#zone-menu-wrapper {
	background:url(/sites/all/themes/ronald_cohen/images/menubg.png) repeat-x;
	height:inherit;
	visibility:visible;
	} 



/*  MAIN CONTENT AND SIDEBARS */

#section-content{
	padding-bottom:1.5em;
	background:url(/sites/all/themes/ronald_cohen/images/pagebg.png) repeat-x left bottom;
} 

#page #zone-content{
	margin-top:1em;
	padding-bottom:1.5em;	
	}


.front #region-content .region-inner {
	padding-left:0;
}



#region-content .region-inner {
	padding-left:1em;
}


.field-name-field-files {
		font-family:'DIN Next W02 Medium';
			background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) -400px -400px no-repeat;
			font-size:0.8em;
			font-size:0.8rem;
			border-radius:0.5em;
			margin:1em 0;
			border:1px solid #fff;
			padding:0.75em;	
}


.field-name-field-files .field-item, .field-name-field-files .field-label {
			margin:0 0 0.5em 0;
}

		/*  Sidebar GENERIC FORMATTING */
		
		.front #region-sidebar-first {
			display:none;
		}
		
		.not-front #region-sidebar-first {
		}
		
		
		#region-sidebar-first .block {
			background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) 0 -200px no-repeat;
			font-size:0.8em;
			font-size:0.8rem;
			border-radius:0.5em;
			margin:0 0 1em 0;
			color:#fff;
			border:1px solid #fff;
			padding:0.75em;	
		}
		
		
		#region-sidebar-first  #block-block-14
		 {
			background:none;
			border-radius:0;
			margin:0 0 1em 0;
			border:none;
			padding:4em 0 0 0;	
		}
		
		
		#region-sidebar-first .block h2 {
			font-family:'DIN Next W02 Medium';
			line-height:1.1em;
			margin:0 0.5em 1em 0;
		}		


		#region-sidebar-first .block p {
			line-height:1.2em;
			margin:0 0 5px 0;
		}	
		
		#region-sidebar-first #block-block-13 p {
			color:#000;
		}	
		
		
		#region-sidebar-first .block p a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:block;
			color:#fff;
			padding:0.3em;
		}		
	
			#region-sidebar-first .block p a:hover {
			background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) -50px -200px no-repeat;
			color:#000;
		}		

		
		
		#region-sidebar-first ul, #region-sidebar-first li {
			list-style:none;
			list-style-image:none;
			background:none;
			padding:0.25em;

		}
		
		
		#region-sidebar-first li:hover, #region-sidebar-first li.active-trail {
			background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) 0 -250px no-repeat;
		}
		
		#region-sidebar-first li a {
			text-decoration:none;
			color:#fff;
		}
		
				#region-sidebar-first li a:hover {
			text-decoration:none;
			color:#000;
		}


/*  POSTSCRIPT REGION FORMATTING */

#zone-postscript-wrapper {
}

#region-postscript-first {font-size:0.8em; font-size:0.8rem;}

		.front #region-postscript-first .block {margin-right:1em; line-height:1.2em;}
		
		.front #zone-postscript .block h2 {
			font-family:'DIN Next W02 Medium';
			line-height:1.1em;
			margin:0 0 1em 0;
		}




#region-postscript-second {}

#region-postscript-second .block {
			background:url(/sites/all/themes/ronald_cohen/images/bggrad.png) -250px -250px no-repeat;
			font-size:0.8em;
			font-size:0.8rem;
			border-radius:0.5em;
			margin:0;
			color:#002937;
			border:1px solid #fff;
			padding:1em;
			}


#region-postscript-fourth {font-size:0.8em;font-size:0.8rem;padding-left:1em; line-height:1.2em;}

#region-user-second {float:right;text-align:right;}
	
	
/*  FOOTER REGION FORMATTING */
	

#section-footer {padding-top:20px;}

#zone-footer {}

#zone-footer a {color:#fff;font-size:0.8em;font-size:0.8rem;}


#region-footer-first {float:left;font-size:0.8em;font-size:0.8rem;}

#region-footer-second {float:right;text-align:right;}


#region-footer-second li {float:right;text-align:right;list-style:none;padding:0;margin-left:2em;}






/* HTML ELEMENTS */

h1,h2,h3,h4,h5,h6 {font-family:'DIN Next W01 Light';font-weight:normal;}

h1 {
	color:#fff;
	letter-spacing:0.001em;
	}

hgroup.site-name-slogan {
	float:none;
	clear:left;
}

h6.site-slogan {
	color:#fff;
	font-family:'DIN Next W01 Light';
	font-size:1.2em;
	margin:0 0 1em 0;
}

#breadcrumb {display:none;}




/* CAROUSEL */



/* $Id: jcarousel-tango.css,v 1.1.2.1 2010/11/26 22:04:31 quicksketch Exp $ */

/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.jcarousel-skin-tango {
	 width:100%;	
}


.jcarousel-skin-tango .jcarousel-container-horizontal {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border:none;
  margin:0;  
  width: 100%;
  height: 300px;
  padding:0;
  overflow:hidden;
  text-align:left;
}


.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 100%;
}


.jcarousel-skin-tango .jcarousel-item-horizontal {
  background:#8a989f;
}


/**
 * Buttons
 */
.jcarousel-skin-tango .jcarousel-next,
.jcarousel-skin-tango .jcarousel-prev {
	z-index:200;
  background-image: url(/sites/all/themes/genesis/hif_genesis/images/arrows.png);
  
}

/**
 *  Horizontal Buttons
 */
 
 .view-homepage-carousel {
	 float:left;
	 width:100%;
	 }
 
 
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 270px;
  left: 5px;
  background-position: 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 270px;
  right: 5px;
  background-position: 0 -32px;
}



#block-views-homepage-carousel-block {
	overflow:hidden;
	margin:2em auto;
	text-align:center;
	}



 .jcarousel-container {
	 width:100%;	
	background:#8a989f;
}

 .jcarousel-container ul.jcarousel {margin:0;padding:0;height:300px;}
 .jcarousel-container li.jcarousel-item {margin:0;padding:0;height:300px;display:block;position:relative;list-style:none;border:none;}
 .jcarousel-container li a {display:block;color:#FFF;}
 .jcarousel-container li img {}



 .jcarousel-container li a {
	font-weight:normal;
	}


.views-field-field-cimg {
	float:left;
	width:auto;
}

.views-field-field-cimg .field-content img {
	border-right:30px solid #8a989f;
	top:0;
	margin-left:-60px;
}

.views-field-field-qt {
	color:#FFF;
	display:block;
	z-index:1000;
	background:#8a989f;
	height:280px;
	padding:20px 20px 0 0;
	font-size:1em;
}
.views-field-field-qt p {
	line-height:1.4em;
}



.jcarousel-container  .field-content {
	display:block;
	}


.view-home {display:none;}

	
	
	
	
	
	
 .view-homepage-carousel {
	width:100%; 
	margin:0 auto;
	 }
 	
	
 .jcarousel-container {
	margin:0 auto;
	 width:auto;	
}


	









/* IMAGE CAPTIONING - WORKS WITH CAPTIONISE.JS */


.captionLeft {
	width:96%;
	font-size:0.9em;
	color:#fff;
	text-align:left;
	padding:2%;
	background-color:#000;
	bottom:0;
	left:0;
} 
	
.captionRight {
	width:96%;
	font-size:0.9em;
	color:#fff;
	text-align:left;
	padding:2%;
	background-color:#000;
	bottom:0;
	left:0;
	} 
	
.captionCenter {
	width:96%;
	font-size:0.9em;
	color:#fff;
	text-align:center;
	padding:2%;
	background-color:#000;
	bottom:0;
	left:0;
	} 	
		

.rightimg {
	padding:0;
	float:right;
}

.leftimg {
	padding:0;
	float:left;
}

.centerimg {
	padding:0;
}

.centerimg img {
	padding:0;
	float:none;
	margin:0 auto;
	width:100%;
}

.right-iframe {
	padding:0;
	float:right;
}

.left-iframe {
	padding:0;
	float:left;
}

.center-iframe {
	padding:0;
	float:left;
	margin:0 auto;
	width:100%;
}


iframe {
	padding:0;
	float:left;
	width:100%;
}




/* GENERIC VIEWS STYLING1 */

.view h3 {
	margin-top:2em;
	font-family:'DIN Next W02 Medium';
}

.views-row {
	padding-bottom:0.75em;
	border-bottom:1px solid #9CF;
	margin-bottom:0.75em;
	width:100%;
	float:left;
}

.views-row-last {
	border-bottom:none;
}


.views-field-field-logo {
	float:left;
	padding:0 1em 1em 0;
}

.front .views-field-field-logo {
	width:100%;
	}


.views-label {
	float:left;
	padding-right:0.5em;
}


/* SPECIFIC VIEWS STYLING1 */



/* HOMEPAGE ELEMENTS */


/* BLOCKS */




#block-block-1 {
	width:25%;
	float:right;
	text-align:right;
	position:relative;
}

#block-block-1 a {
	color:#fff;
	text-decoration:none;
}

#block-custom-search-blocks-1 {
	position:inherit;
	float:right;
	padding:1em 0 0.3em 0;
	text-align:right;
}

#block-custom-search-blocks-1 .form-item {
	margin:0;
}


#block-custom-search-blocks-1 #edit-custom-search-blocks-form-1--2 {
	font-family:'DIN Next W01 Light';
	padding:0.40em;
	background:url(/sites/all/themes/ronald_cohen/images/searchbg.gif) repeat-x top left;
	border:none;
	color:#FFF;
	font-size:1.2em;
}

#block-custom-search-blocks-1 #edit-custom-search-blocks-form-1--2:focus {
	box-shadow:0 0 7px #fff;
}




/* MAIN NAVIGATION MENU */


#block-superfish-1 {
	float:left;
}

ul#superfish-1 {
	float:left;
	padding: 1.0em 0 0.3em 0;
	margin:0;
}

ul#superfish-1 > li {
	margin:0.7em 3em 0 0;
	width:inherit;
}


ul#superfish-1 > li.last {
	margin-right:0;
}

ul#superfish-1 > li a {
	font-size:1.1em;
	color:#3d8696;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	padding:0;
	margin:0;
}

ul#superfish-1 > li a:hover {
	color:#FFF;
	text-decoration:underline;
}


/* DROPDOWN LEVEL 1 */


 ul#superfish-1 li.sf-depth-1 > ul  {
	opacity:0.9;
	padding:0;
	margin:0 0 0 -0.25em;
	top:2.0em;
}


#block-superfish-1 ul li ul li  {
	margin:0;
	padding:0;
	border-bottom:1px solid #3d8696;
}

#block-superfish-1 ul li ul li.last  {
	border-bottom:none;
}


#block-superfish-1 ul li ul li a  {
	background-color:#002937;
	text-transform:capitalize;
	padding:0.5em 0.25em;
	color:#FFF;
}

#block-superfish-1 ul li ul li a:hover  {
	background-color:#000;
	text-decoration:none;
	color:#3d8696;
}
